@page "/iupMath"
@using System.Net.Mime
@inject HttpClient Http

<PageTitle>IUP</PageTitle>


<div class="h5">Matematikk</div>

@if (pupilWork == null)
{
    <p>
        <em>Loading...</em>
    </p> 
}
else
{
    <div class="row">
        <div class="col">
            <h5>Generell del:</h5>
            <div class="row" style="max-width: 100%; margin: auto">
                <textarea @bind="textAreaCustomOnInput" @bind:event="oninput" rows="5" placeholder="Skriv inn generell del som gjelder for alle elever i faget."></textarea>
            </div>
        </div>
    </div>
    <p>
        
    </p>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Vurderingskriterie</th>
                <th>Alternativer</th>
            </tr>
            </thead>
            <tbody>
            <tr class="@GetTrClass(WorkDescription)">
                <td>@pupilWork.Question</td>
                <select class="form-control" id="Style" @bind="WorkDescription" @bind:event="onchange">
                    <option value="" selected disabled hidden>Velg alternativ</option>
                    @foreach (var alternative in pupilWork.Alternatives)
                    {
                        <option value="@alternative.Description">@alternative.Alternative</option>
                    }
                </select>
                                        
            </tr>
            <tr class="@GetTrClass(ReflectionDescription)">
                <td>@pupilReflection.Question</td>
                <select class="form-control" id="Style" @bind="ReflectionDescription" @bind:event="onchange">
                    <option value="" selected disabled hidden>Velg alternativ</option>
                    @foreach (var alternative in pupilReflection.Alternatives)
                    {
                        <option value="@alternative.Description">@alternative.Alternative</option>
                    }
                </select>
                                                    
            </tr>
            <tr class="@GetTrClass(DevelopmentDescription)">
                <td>@pupilDevelopment.Question</td>
                <select class="form-control" id="Style" @bind="DevelopmentDescription" @bind:event="onchange">
                    <option value="" selected disabled hidden>Velg alternativ</option>
                    @foreach (var alternative in pupilDevelopment.Alternatives)
                    {
                        <option value="@alternative.Description">@alternative.Alternative</option>
                    }
                </select>
                                                    
            </tr>
            <tr class="@GetTrClass(FocusTopicDescription)">
                <td>@pupilFocusTopics.Question</td>
                <select class="form-control" id="Style" @bind="FocusTopicDescription" @bind:event="onchange">
                    <option value="" selected disabled hidden>Velg alternativ</option>
                    @foreach (var alternative in pupilDevelopment.Alternatives)
                    {
                        <option value="@alternative.Description">@alternative.Alternative</option>
                    }
                </select>
                                                    
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        
    </p>
    <div class="row">

        <div class="col">
            <h5>Generert tekst:</h5>
            <div class="row"  style="max-width: 100%; margin: auto">
                <InputTextArea @bind-Value="@TextAreaResult" rows="8" onClick="this.select();" @onfocus="HandleTextAreaClick"/>
            </div>
        </div>
    </div>
    
    <div class="row" style="padding-top: 5px">
        <button @onclick="ResetContent">
            Tilbakestill innhold
        </button>
    </div>
    
    <style>
    .unselected {
        border: 1px solid red;
    }
    .unselected select {
        border-color: red;
    }
</style>
}

@code {

    private MathEvaluation? pupilWork;
    private MathEvaluation? pupilReflection;
    private MathEvaluation? pupilDevelopment;
    private MathEvaluation? pupilFocusTopics;
    
    private Dictionary<int, List<CriteriaAlternative>> aidDic;
    private Dictionary<string, Dictionary<string, string>> qaDictionary;

    public string WorkDescription { get; set; } //= string.Empty;
    public string ReflectionDescription { get; set; } //= string.Empty;
    public string DevelopmentDescription { get; set; } //= string.Empty;
    public string FocusTopicDescription { get; set; } //= string.Empty;
    public string FullDescription { get ; set; } //= string.Empty;
    private bool HasClickedTextArea { get; set; } = false;


    private string textAreaCustomOnInput = "";
    private string textAreaCustomInput = "test";
    public string TextAreaCustomInput { get; set; }
    
    
    private string testDesc; // = string.Empty;
    public string TextAreaResult
    {
        get { return $"{textAreaCustomOnInput}\n{WorkDescription} {ReflectionDescription} {DevelopmentDescription} {FocusTopicDescription}"; }   // get method
        set { testDesc = value; }  // set method
    }

    
    private int rows = 10;

    protected override async Task OnInitializedAsync()
    {
        pupilWork = await Http.GetFromJsonAsync<MathEvaluation>("subjects/math/pupilWork.json");
        pupilReflection = await Http.GetFromJsonAsync<MathEvaluation>("subjects/math/pupilReflection.json");
        pupilDevelopment = await Http.GetFromJsonAsync<MathEvaluation>("subjects/math/pupilDevelopment.json");
        pupilFocusTopics = await Http.GetFromJsonAsync<MathEvaluation>("subjects/math/pupilFocusTopics.json");
        
    }
    
    private void ResetContent()
    {
        textAreaCustomInput = "";
        WorkDescription = "";
        ReflectionDescription = "";
        DevelopmentDescription = "";
        FocusTopicDescription = "";
    }
    
    private string GetTrClass(string description)
    {
        return HasClickedTextArea && string.IsNullOrEmpty(description) ? "unselected" : "";
    }

    private void HandleTextAreaClick()
    {
        HasClickedTextArea = true;
    }

    

    public class MathEvaluation
    {
        public int QID { get; set; }
        public string Question { get; set; }
        public List<CriteriaAlternative> Alternatives { get; set; }
    }

    public class CriteriaAlternative
    {
        public int AID { get; set; }
        public string Alternative { get; set; }
        public string Description { get; set; }
    }
}